$mainColor: #3DA9FC;
$mainColorContrast: #FFFFFE;

$secondColor: #094067;
$secondColorContrast: #FFFFFE;

$thirdColor: #FFFFFE;
$thirdColorContrast: #5F6C7B;

$fourthColor: #EF4565;
$fourthColorContrast: #FFFFFE;
$fourthColorOpacity: #ef45644d;

$fontSize: 1.25rem;
$headerSize: 2rem;